%head
  %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{charset: "utf-8"}/
  %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

  %title {{ page.title }} - Thomas Mayfield

  %meta{name: "author", content: "Thomas Mayfield"}
  %meta{name: "description", content: "{{ page.title }} - Thomas Mayfield"}
  %meta{name: "keywords", content: ""}

  / Twitter Cards
  %meta{name: "twitter:card", content: "summary"}
  %meta{name: "twitter:image", content: "/images/birds.jpg"}
  %meta{name: "twitter:title", content: "{{ page.title }} - Thomas Mayfield"}
  %meta{name: "twitter:creator", content: "@thegreatape"}

  / Open Graph
  %meta{property: "og:locale", content: "en_US"}
  %meta{property: "og:type", content: "article"}
  %meta{property: "og:title", content:  "{{ page.title }} - Thomas Mayfield"}
  %meta{property: "og:url", content: "/"}
  %meta{property: "og:site_name", content: "Thomas Mayfield"}

  %link{href: "/assets/css/styles.css", rel: "stylesheet"}/
  %script{src: "/assets/js/bundle.js"}
  %script{src:"https://use.fontawesome.com/releases/v5.3.1/js/all.js"}
  %link{ href: "/feed.xml", type: "application/atom+xml", rel: "alternate", title: "Thomas Mayfield" }
