%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %title {{ page.title }} - Thomas Mayfield
  %link{href: "/assets/css/styles.css", rel: "stylesheet"}/
  %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.3.1/js/all.js"}
