%nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "/"}
      %img{:src => "/images/bio-photo.png"}/
      .title.is-1 Thomas Mayfield
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      %a.navbar-item{href: "/"}
        Home
      %a.navbar-item{href: "/reading"}
        Reading
      %a.navbar-item{href: "/code"}
        Code
      %a.navbar-item{href: "/about"}
        About Me
