%nav.navbar.has-shadow.is-primary{"aria-label" => "main navigation", :role => "navigation"}
  .container
    .navbar-brand
      .navbar-item
        .title.is-2 Thomas Mayfield
      %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbar-menu", :role => "button"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
    #navbar-menu.navbar-menu
      .navbar-start
        %a.navbar-item{href: "/"}
          Home
        %a.navbar-item{href: "/reading"}
          Reading
        %a.navbar-item{href: "/code"}
          Code
        %a.navbar-item{href: "/about"}
          About Me
        %a.navbar-item{rel: "me", href: "https://github.com/thegreatape"}
          %i.fab.fa-github
        %a.navbar-item{rel: "me", href: "https://mastodon.social/@thegreatape"}
          %i.fab.fa-mastodon
