<h3>2020</h3>
<p>
3
books
 so far!
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>2</td>
</tr>
<tr>
<td>by-women</td>
<td>1</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>2</td>
</tr>
<tr>
<td>sci-fi</td>
<td>1</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>Blood of Empire</strong>
by
Brian  McClellan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Shrouded Loyalties</strong>
by
Reese Hogan
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>Promise of Blood</strong>
by
Brian  McClellan
</td>
<td>
4 / 5
</td>
</tr>
</tbody>
</table>
<h3>2019</h3>
<p>
40
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-women</td>
<td>16</td>
</tr>
<tr>
<td>by-lgbtq-author</td>
<td>8</td>
</tr>
<tr>
<td>by-men</td>
<td>25</td>
</tr>
<tr>
<td>by-non-binary-authors</td>
<td>1</td>
</tr>
<tr>
<td>by-people-of-color</td>
<td>5</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>sci-fi</td>
<td>18</td>
</tr>
<tr>
<td>fantasy</td>
<td>11</td>
</tr>
<tr>
<td>tech</td>
<td>2</td>
</tr>
<tr>
<td>fitness</td>
<td>2</td>
</tr>
<tr>
<td>nonfiction</td>
<td>7</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>A Red Peace</strong>
by
Spencer Ellsworth
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>How to Take Smart Notes</strong>
by
Sönke Ahrens
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Labyrinth Index</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>The Ruin of Kings</strong>
by
Jenn Lyons
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Cold Iron (The Malorum Gates #1)</strong>
by
Stina Leicht
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Dauntless</strong>
by
Jack Campbell
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Digital Minimalism: Choosing a Focused Life in a Noisy World</strong>
by
Cal Newport
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>Ancestral Night</strong>
by
Elizabeth Bear
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Light Brigade</strong>
by
Kameron Hurley
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Rage of Dragons</strong>
by
Evan Winter
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Stand Out of Our Light: Freedom and Resistance in the Attention Economy</strong>
by
James Williams
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Tactical Barbell: Mass Protocol</strong>
by
K Black
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>Persepolis Rising</strong>
by
James S.A. Corey
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life</strong>
by
Mark Manson
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>May</th>
</tr>
<tr>
<td>
<strong>Minicut Manual</strong>
by
Mike Israetel, Jared Feather
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Lotus Blue</strong>
by
Cat Sparks
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>June</th>
</tr>
<tr>
<td>
<strong>A Memory Called Empire</strong>
by
Arkady Martine
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Red-Stained Wings</strong>
by
Elizabeth Bear
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>July</th>
</tr>
<tr>
<td>
<strong>Kings of the Wyld</strong>
by
Nicholas Eames
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Tiamat's Wrath</strong>
by
James S.A. Corey
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Haunting of Tram Car 015</strong>
by
P. Djèlí Clark
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Writing to Persuade: How to Bring People Over to Your Side</strong>
by
Trish Hall
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>August</th>
</tr>
<tr>
<td>
<strong>A Big Ship at the Edge of the Universe</strong>
by
Alex White
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Children of Ruin</strong>
by
Adrian Tchaikovsky
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>Empress of Forever</strong>
by
Max Gladstone
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Meet Me in the Future: Stories</strong>
by
Kameron Hurley
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Indistractable: How to Control Your Attention and Choose Your Life</strong>
by
Nir   Eyal, Julie Li
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Calculating Stars</strong>
by
Mary Robinette Kowal
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Gideon the Ninth</strong>
by
Tamsyn Muir
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>October</th>
</tr>
<tr>
<td>
<strong>Bloody Rose</strong>
by
Nicholas Eames
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Because Internet: Understanding the New Rules of Language</strong>
by
Gretchen McCulloch
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>November</th>
</tr>
<tr>
<td>
<strong>The Name of All Things</strong>
by
Jenn Lyons
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Guns of the Dawn</strong>
by
Adrian Tchaikovsky
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>The Rust Programming Language</strong>
by
Steve Klabnik, Carol Nichols
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Raven Stratagem</strong>
by
Yoon Ha Lee
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Revenant Gun</strong>
by
Yoon Ha Lee
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Ninefox Gambit</strong>
by
Yoon Ha Lee
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>This Is How You Lose the Time War</strong>
by
Amal El-Mohtar, Max Gladstone
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>How Not to Kill Your Houseplant: Survival Tips for the Horticulturally Challenged</strong>
by
Veronica Peerless
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>War Cry</strong>
by
Brian  McClellan
</td>
<td>
3 / 5
</td>
</tr>
</tbody>
</table>
<h3>2018</h3>
<p>
31
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>19</td>
</tr>
<tr>
<td>by-women</td>
<td>14</td>
</tr>
<tr>
<td>by-people-of-color</td>
<td>3</td>
</tr>
<tr>
<td>by-lgbtq-author</td>
<td>4</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fitness</td>
<td>4</td>
</tr>
<tr>
<td>fantasy</td>
<td>16</td>
</tr>
<tr>
<td>nonfiction</td>
<td>6</td>
</tr>
<tr>
<td>sci-fi</td>
<td>5</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>The Gathering Storm</strong>
by
Robert Jordan, Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Knife of Dreams</strong>
by
Robert Jordan
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Towers of Midnight</strong>
by
Robert Jordan, Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>A Memory of Light</strong>
by
Robert Jordan, Brandon Sanderson
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Autonomous</strong>
by
Annalee Newitz
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Me, Myself, and Us: The Science of Personality and the Art of Well-Being</strong>
by
Brian Little
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>The Muscle & Strength Pyramid - Nutrition</strong>
by
Eric Helms, Andrea Valdez, Andy Morgan
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Muscle & Strength Pyramid - Training</strong>
by
Eric Helms, Andrea Valdez, Andy Morgan
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Stone in the Skull</strong>
by
Elizabeth Bear
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>The Will to Battle</strong>
by
Ada Palmer
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>May</th>
</tr>
<tr>
<td>
<strong>The Poppy War</strong>
by
R.F. Kuang
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>ASPCA Complete Dog Care Manual</strong>
by
Bruce Fogle
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Lamb Will Slaughter the Lion</strong>
by
Margaret Killjoy
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>June</th>
</tr>
<tr>
<td>
<strong>Wrath of Empire</strong>
by
Brian  McClellan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Gods, Monsters, and the Lucky Peach</strong>
by
Kelly Robson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>July</th>
</tr>
<tr>
<td>
<strong>The Way of Kings</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Why We Sleep: Unlocking the Power of Sleep and Dreams</strong>
by
Matthew Walker
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Way of Kings</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>August</th>
</tr>
<tr>
<td>
<strong>How Much Should I Train?</strong>
by
Mike Israetel, James Hoffmann
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>Words of Radiance</strong>
by
Brandon Sanderson
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>October</th>
</tr>
<tr>
<td>
<strong>Trail of Lightning</strong>
by
Rebecca Roanhorse
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Thinking in Bets: Making Smarter Decisions When You Don't Have All the Facts</strong>
by
Annie Duke
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Stone Mad</strong>
by
Elizabeth Bear
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones</strong>
by
James Clear
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Oathbringer</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Artificial Condition</strong>
by
Martha Wells
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>November</th>
</tr>
<tr>
<td>
<strong>The Powerlifting Program Design Manual</strong>
by
Chad Wesley Smith
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Bullet Journal Method: Track the Past, Order the Present, Design the Future</strong>
by
Ryder Carroll
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Jade City</strong>
by
Fonda Lee
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>Archivist Wasp</strong>
by
Nicole Kornher-Stace
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Thin Air</strong>
by
Richard K. Morgan
</td>
<td>
4 / 5
</td>
</tr>
</tbody>
</table>
<h3>2017</h3>
<p>
50
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>26</td>
</tr>
<tr>
<td>by-women</td>
<td>25</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>22</td>
</tr>
<tr>
<td>fitness</td>
<td>4</td>
</tr>
<tr>
<td>tech</td>
<td>3</td>
</tr>
<tr>
<td>nonfiction</td>
<td>13</td>
</tr>
<tr>
<td>sci-fi</td>
<td>7</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>Weapons of Math Destruction: How Big Data Increases Inequality and Threatens Democracy</strong>
by
Cathy O'Neil
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Unf*ck Your Habitat: You're Better Than Your Mess</strong>
by
Rachel  Hoffman
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Infomocracy</strong>
by
Malka Ann Older
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>The Stars Are Legion</strong>
by
Kameron Hurley
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Empire Games (Empire Games #1, Merchant Princes Universe #7)</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>White Night</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Small Favor</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>Zen to Done</strong>
by
Leo Babauta
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Seven Surrenders</strong>
by
Ada Palmer
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Sins of Empire</strong>
by
Brian  McClellan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>Legendary Flexibility</strong>
by
Jujimufu
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Manager's Path: A Guide for Tech Leaders Navigating Growth and Change</strong>
by
Camille Fournier
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Turn Coat</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Hillbilly Elegy: A Memoir of a Family and Culture in Crisis</strong>
by
J.D. Vance
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Eye of the World</strong>
by
Robert Jordan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Geek Feminist Revolution</strong>
by
Kameron Hurley
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Attention Merchants: The Epic Scramble to Get Inside Our Heads</strong>
by
Tim Wu
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>May</th>
</tr>
<tr>
<td>
<strong>A Mind for Numbers: How to Excel at Math and Science (Even If You Flunked Algebra)</strong>
by
Barbara Oakley
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>All Systems Red</strong>
by
Martha Wells
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Great Hunt</strong>
by
Robert Jordan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>A Thoughtful Pursuit of Strength</strong>
by
Chad Wesley Smith
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>June</th>
</tr>
<tr>
<td>
<strong>Peak Performance: Elevate Your Game, Avoid Burnout, and Thrive with the New Science of Success</strong>
by
Brad Stulberg, Steve Magness
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>The Dragon Reborn</strong>
by
Robert Jordan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Hammers on Bone</strong>
by
Cassandra Khaw
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>5/3/1 Forever: Simple and Effective Programming for Size, Speed and Strength</strong>
by
Jim Wendler
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Scatter, Adapt, and Remember: How Humans Will Survive a Mass Extinction</strong>
by
Annalee Newitz
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>River of Teeth</strong>
by
Sarah Gailey
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>July</th>
</tr>
<tr>
<td>
<strong>The Delirium Brief</strong>
by
Charles Stross
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The House of Shattered Wings</strong>
by
Aliette de Bodard
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Changes</strong>
by
Jim Butcher
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Prey of Gods</strong>
by
Nicky Drayden
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Red Sister</strong>
by
Mark  Lawrence
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>August</th>
</tr>
<tr>
<td>
<strong>Assassin's Apprentice</strong>
by
Robin Hobb
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>The Fires of Heaven</strong>
by
Robert Jordan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Taste of Marrow</strong>
by
Sarah Gailey
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Shadow Rising</strong>
by
Robert Jordan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Willpower Instinct: How Self-Control Works, Why It Matters, and What You Can Do to Get More of It</strong>
by
Kelly McGonigal
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>October</th>
</tr>
<tr>
<td>
<strong>Lord of Chaos</strong>
by
Robert Jordan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Stone Sky</strong>
by
N.K. Jemisin
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>November</th>
</tr>
<tr>
<td>
<strong>Winter's Heart</strong>
by
Robert Jordan
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Perfect Puppy in 7 Days: How to Start Your Puppy Off Right</strong>
by
Sophia Yin
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>A Crown of Swords</strong>
by
Robert Jordan
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Path of Daggers</strong>
by
Robert Jordan
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Mistakes Were Made (But Not by Me): Why We Justify Foolish Beliefs, Bad Decisions, and Hurtful Acts</strong>
by
Carol Tavris, Elliot Aronson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Necrotech</strong>
by
K.C. Alexander
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>The Culture Clash</strong>
by
Jean Donaldson, Ian Dunbar
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Technically Wrong: Sexist Apps, Biased Algorithms, and Other Threats of Toxic Tech</strong>
by
Sara Wachter-Boettcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Radical Candor: Be a Kickass Boss Without Losing Your Humanity</strong>
by
Kim Malone Scott
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Crossroads of Twilight</strong>
by
Robert Jordan
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>Renaissance Woman: Fat Loss, Muscle Growth and Performance Through Scientific Eating.</strong>
by
Jennifer Case, Melissa Davis, Mike Israetel
</td>
<td>
Not Rated
</td>
</tr>
</tbody>
</table>
<h3>2016</h3>
<p>
52
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>40</td>
</tr>
<tr>
<td>by-women</td>
<td>12</td>
</tr>
<tr>
<td>by-lgbtq-author</td>
<td>2</td>
</tr>
<tr>
<td>by-people-of-color</td>
<td>2</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>28</td>
</tr>
<tr>
<td>nonfiction</td>
<td>5</td>
</tr>
<tr>
<td>sci-fi</td>
<td>10</td>
</tr>
<tr>
<td>fitness</td>
<td>4</td>
</tr>
<tr>
<td>tech</td>
<td>5</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>Deep Work: Rules for Focused Success in a Distracted World</strong>
by
Cal Newport
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Fifth Season</strong>
by
N.K. Jemisin
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Wake of Vultures</strong>
by
Lila Bowen
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Move Your DNA Restore Your Health Through Natural Movement</strong>
by
Katy Bowman
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>The Now Habit: A Strategic Program for Overcoming Procrastination and Enjoying Guilt-Free Play</strong>
by
Neil A. Fiore
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Bands of Mourning</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Art of SQL</strong>
by
Stephane Faroult, Peter Robson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Flex</strong>
by
Ferrett Steinmetz
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Gemini Cell (Reawakening Trilogy #1)</strong>
by
Myke Cole
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>Two Serpents Rise</strong>
by
Max Gladstone
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Tactical Barbell - xld: Definitive Strength Training for the Operational Athlete</strong>
by
K. Black
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Tactical Barbell II: Conditioning</strong>
by
K. Black
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>A Darker Shade of Magic</strong>
by
V.E. Schwab, Victoria Schwab
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>Karen Memory</strong>
by
Elizabeth Bear
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Traitor's Blade</strong>
by
Sebastien de Castell
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Shop Class as Soulcraft: An Inquiry Into the Value of Work</strong>
by
Matthew B. Crawford
</td>
<td>
1 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>May</th>
</tr>
<tr>
<td>
<strong>Low Town</strong>
by
Daniel Polansky
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>June</th>
</tr>
<tr>
<td>
<strong>Tomorrow, the Killing</strong>
by
Daniel Polansky
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Too Like the Lightning</strong>
by
Ada Palmer
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Making the Most of Shade: How to Plan, Plant, and Grow a Fabulous Garden That Lightens Up the Shadows</strong>
by
Larry Hodgson
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Ninefox Gambit</strong>
by
Yoon Ha Lee
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Company Town</strong>
by
Madeline Ashby
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>Elasticsearch: The Definitive Guide: A Distributed Real-Time Search and Analytics Engine</strong>
by
Clinton Gormley, Zachary Tong
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Ninefox Gambit</strong>
by
Yoon Ha Lee
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>July</th>
</tr>
<tr>
<td>
<strong>The Nightmare Stacks</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Can You Go?: Assessments and Program Design for the Active Athlete and Everybody Else</strong>
by
Dan John, Chad Harbach
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>August</th>
</tr>
<tr>
<td>
<strong>Furies of Calderon</strong>
by
Jim Butcher
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>First Light</strong>
by
Linda Nagata
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Just Fucking Ship</strong>
by
Amy Hoy, Alex Hillman
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Behind the Throne (The Indranan War #1)</strong>
by
K.B. Wagers
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>The Waking Fire</strong>
by
Anthony Ryan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>The Obelisk Gate</strong>
by
N.K. Jemisin
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Turtles, Termites, and Traffic Jams: Explorations in Massively Parallel Microworlds</strong>
by
Mitchel Resnick
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Learn Vimscript the Hard Way</strong>
by
Steve Losh
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>October</th>
</tr>
<tr>
<td>
<strong>Cursor's Fury</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Captain's Fury</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Children of Time (Children of Time #1)</strong>
by
Adrian Tchaikovsky
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Academ's Fury</strong>
by
Jim Butcher
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The End of All Things</strong>
by
John Scalzi
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Antidote: Happiness for People Who Can't Stand Positive Thinking</strong>
by
Oliver Burkeman
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>November</th>
</tr>
<tr>
<td>
<strong>Grave Peril</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Fool Moon</strong>
by
Jim Butcher
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>First Lord's Fury</strong>
by
Jim Butcher
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Storm Front</strong>
by
Jim Butcher
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Death Masks</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Princeps' Fury</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Summer Knight</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>Proven Guilty</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Apocalypse Nyx (Bel Dame Apocrypha #1.5, 1.7)</strong>
by
Kameron Hurley
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Dead Beat</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Blood Rites</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Babylon's Ashes</strong>
by
James S.A. Corey
</td>
<td>
5 / 5
</td>
</tr>
</tbody>
</table>
<h3>2015</h3>
<p>
44
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-women</td>
<td>14</td>
</tr>
<tr>
<td>by-men</td>
<td>30</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>17</td>
</tr>
<tr>
<td>sci-fi</td>
<td>10</td>
</tr>
<tr>
<td>fitness</td>
<td>2</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>The Hard Thing About Hard Things: Building a Business When There Are No Easy Answers</strong>
by
Ben Horowitz
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Fat Loss Happens on Monday</strong>
by
Josh Hillis
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Range of Ghosts</strong>
by
Elizabeth Bear
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Crimson Campaign</strong>
by
Brian  McClellan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Slow River</strong>
by
Nicola Griffith
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>The Autumn Republic</strong>
by
Brian  McClellan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Martian</strong>
by
Andy Weir
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Republic of Thieves</strong>
by
Scott Lynch
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>Shattered Pillars</strong>
by
Elizabeth Bear
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>A Darkling Sea</strong>
by
James L. Cambias
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>Steles of the Sky</strong>
by
Elizabeth Bear
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Terms of Enlistment (Frontlines #1)</strong>
by
Marko Kloos
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Thousand Names</strong>
by
Django Wexler
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>May</th>
</tr>
<tr>
<td>
<strong>Warbreaker</strong>
by
Brandon Sanderson
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Programming Collective Intelligence: Building Smart Web 2.0 Applications</strong>
by
Toby Segaran
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>How to Buy a House the Right Way: A Complete Home Buying Guide for First Time Buyers & Seasoned Pros</strong>
by
Mark Kennedy
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Half-Made World</strong>
by
Felix Gilman
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>June</th>
</tr>
<tr>
<td>
<strong>Packing for Mars: The Curious Science of Life in the Void</strong>
by
Mary Roach
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Nemesis Games</strong>
by
James S.A. Corey
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>July</th>
</tr>
<tr>
<td>
<strong>Blood Song</strong>
by
Anthony Ryan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The First-Time Homeowner's Survival Guide: A Crash Course in Dealing with Repairs, Renovations, Property Tax Issues, and Other Potential Disasters</strong>
by
Sid Davis
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Annihilation Score</strong>
by
Charles Stross
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>August</th>
</tr>
<tr>
<td>
<strong>The Renaissance Diet</strong>
by
Mike Israetel
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Seveneves</strong>
by
Neal Stephenson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Passionate Programmer</strong>
by
Chad Fowler, David Heinemeier Hansson
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Dawn</strong>
by
Octavia E. Butler
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>Honor's Knight</strong>
by
Rachel Bach
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>All New Square Foot Gardening</strong>
by
Mel Bartholomew
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Internet of Garbage</strong>
by
Sarah Jeong
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Fortune's Pawn (Paradox #1)</strong>
by
Rachel Bach
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Heaven's Queen  (Paradox #3)</strong>
by
Rachel Bach
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Rapture (Bel Dame Apocrypha #3)</strong>
by
Kameron Hurley
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>October</th>
</tr>
<tr>
<td>
<strong>The Aeronaut's Windlass</strong>
by
Jim Butcher
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Traitor Baru Cormorant</strong>
by
Seth Dickinson
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Shadows of Self</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>November</th>
</tr>
<tr>
<td>
<strong>The Emperor's Blades</strong>
by
Brian Staveley
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>California Bones</strong>
by
Greg Van Eekhout
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Hybrid Athlete</strong>
by
Alex Viada
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Lawn Gone!: Low-Maintenance, Sustainable, Attractive Alternatives for Your Yard</strong>
by
Pam Penick
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Retribution Falls</strong>
by
Chris Wooding
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Eureka Factor: Aha Moments, Creative Insight, and the Brain</strong>
by
John Kounios, Mark Beeman
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>Empire Ascendant</strong>
by
Kameron Hurley
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Getaway God</strong>
by
Richard Kadrey
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Long Way to a Small, Angry Planet</strong>
by
Becky Chambers
</td>
<td>
3 / 5
</td>
</tr>
</tbody>
</table>
<h3>2014</h3>
<p>
53
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>48</td>
</tr>
<tr>
<td>by-women</td>
<td>5</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>11</td>
</tr>
<tr>
<td>sci-fi</td>
<td>19</td>
</tr>
<tr>
<td>fitness</td>
<td>3</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>The Drunkard's Walk: How Randomness Rules Our Lives</strong>
by
Leonard Mlodinow
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Kettlebell - Simple & Sinister</strong>
by
Pavel Tsatsouline
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Three Parts Dead</strong>
by
Max Gladstone
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Ancillary Justice (Imperial Radch #1)</strong>
by
Ann Leckie
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>The Physics of Star Trek</strong>
by
Lawrence M. Krauss, Stephen Hawking
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>Wool Omnibus</strong>
by
Hugh Howey
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Squat Every Day</strong>
by
Matt Perryman
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Sun of Suns</strong>
by
Karl Schroeder
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Reactive Training Manual: Developing your own custom training program for powerlifting</strong>
by
Michael Tuchscherer
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Cold Commands</strong>
by
Richard K. Morgan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>So Good They Can't Ignore You: Why Skills Trump Passion in the Quest for Work You Love</strong>
by
Cal Newport
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Woken Furies</strong>
by
Richard K. Morgan
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Confident Ruby</strong>
by
Avdi Grimm
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Diaspora</strong>
by
Greg Egan
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>Accelerando</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Sports Gene: Inside the Science of Extraordinary Athletic Performance</strong>
by
David   Epstein
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Words of Radiance</strong>
by
Brandon Sanderson
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Infinite Intensity </strong>
by
Ross Enamait
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Dragon's Path</strong>
by
Daniel Abraham
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Smarter Than You Think: How Technology is Changing Our Minds for the Better</strong>
by
Clive Thompson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>May</th>
</tr>
<tr>
<td>
<strong>Necessary Evil</strong>
by
Ian Tregillis
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Viking Warrior Conditioning</strong>
by
Kenneth Jay
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Behemoth: β-Max (Rifters #3.1)</strong>
by
Peter Watts
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Queen of Candesce</strong>
by
Karl Schroeder
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Maelstrom</strong>
by
Peter Watts
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Coyote</strong>
by
Allen M. Steele
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>June</th>
</tr>
<tr>
<td>
<strong>Iron Sunrise</strong>
by
Charles Stross
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Undercover Economist</strong>
by
Tim Harford
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>God's War</strong>
by
Kameron Hurley
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Skin Game</strong>
by
Jim Butcher
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>July</th>
</tr>
<tr>
<td>
<strong>Promise of Blood</strong>
by
Brian  McClellan
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Rhesus Chart</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Cibola Burn</strong>
by
James S.A. Corey
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Infidel</strong>
by
Kameron Hurley
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>A Shadow in Summer</strong>
by
Daniel Abraham
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>August</th>
</tr>
<tr>
<td>
<strong>The Zombie Survival Guide: Complete Protection from the Living Dead</strong>
by
Max Brooks, Max Werner
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Clojure for the Brave and True</strong>
by
Daniel Higginbotham
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>On Writing Well: The Classic Guide to Writing Nonfiction</strong>
by
William Zinsser
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Endymion</strong>
by
Dan Simmons
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Checklist Manifesto: How to Get Things Right</strong>
by
Atul Gawande
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>City of Stairs</strong>
by
Robert Jackson Bennett
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Mirror Empire</strong>
by
Kameron Hurley
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Echopraxia</strong>
by
Peter Watts
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Behemoth: Seppuku (Rifters #3.2)</strong>
by
Peter Watts
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>October</th>
</tr>
<tr>
<td>
<strong>Red Seas Under Red Skies</strong>
by
Scott Lynch
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>10% Happier: How I Tamed the Voice in My Head, Reduced Stress Without Losing My Edge, and Found Self-Help That Actually Works</strong>
by
Dan   Harris
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Thirteen</strong>
by
Richard K. Morgan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>November</th>
</tr>
<tr>
<td>
<strong>Programming Elixir: Functional |> Concurrent |> Pragmatic |> Fun</strong>
by
Dave Thomas
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Emperor of All Maladies: A Biography of Cancer</strong>
by
Siddhartha Mukherjee
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>Silently and Very Fast</strong>
by
Catherynne M. Valente
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Working Effectively with Legacy Code</strong>
by
Michael C. Feathers
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>War Dogs</strong>
by
Greg Bear
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>The Dark Defiles </strong>
by
Richard K. Morgan
</td>
<td>
Not Rated
</td>
</tr>
</tbody>
</table>
<h3>2013</h3>
<p>
57
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>53</td>
</tr>
<tr>
<td>by-women</td>
<td>4</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>sci-fi</td>
<td>16</td>
</tr>
<tr>
<td>fantasy</td>
<td>17</td>
</tr>
<tr>
<td>fitness</td>
<td>6</td>
</tr>
<tr>
<td>nonfiction</td>
<td>1</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>The Well of Ascension</strong>
by
Brandon Sanderson
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Hero of Ages</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>5/3/1: The Simplest and Most Effective Training System for Raw Strength</strong>
by
Jim Wendler
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Paleo for Lifters</strong>
by
Justin Lascek
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Foundation: Redefine Your Core, Conquer Back Pain, and Move with Confidence</strong>
by
Eric  Goodman, Peter Park, Lance Armstrong
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Pastwatch: The Redemption of Christopher Columbus</strong>
by
Orson Scott Card
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>Perdido Street Station</strong>
by
China Miéville
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Tmux: Productive Mouse-Free Development</strong>
by
Brian P. Hogan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>Makers: The New Industrial Revolution</strong>
by
Chris Anderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Practical Vim: Edit Text at the Speed of Thought</strong>
by
Drew Neil
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Way of Kings</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>A Talent for War</strong>
by
Jack McDevitt
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>The Windup Girl</strong>
by
Paolo Bacigalupi
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Glasshouse</strong>
by
Charles Stross
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Pragmatic Thinking and Learning: Refactor Your Wetware</strong>
by
Andy Hunt
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Guns, Germs, and Steel: The Fates of Human Societies</strong>
by
Jared Diamond
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>May</th>
</tr>
<tr>
<td>
<strong>Practical Object Oriented Design in Ruby</strong>
by
Sandi Metz
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Alloy of Law</strong>
by
Brandon Sanderson
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Pushing Ice</strong>
by
Alastair Reynolds
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Gridlinked (Agent Cormac #1, Polity Universe #3)</strong>
by
Neal Asher
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>Becoming a Supple Leopard: The Ultimate Guide to Resolving Pain, Preventing Injury, and Optimizing Athletic Performance</strong>
by
Kelly Starrett, Glen Cordoza
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>June</th>
</tr>
<tr>
<td>
<strong>The Human Division</strong>
by
John Scalzi
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Quiet: The Power of Introverts in a World That Can't Stop Talking</strong>
by
Susan Cain
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>I Am Legend</strong>
by
Richard Matheson
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Abaddon's Gate</strong>
by
James S.A. Corey
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Elantris</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Juggernaut Method 2.0</strong>
by
Chad Wesley Smith
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>July</th>
</tr>
<tr>
<td>
<strong>The Warrior's Apprentice</strong>
by
Lois McMaster Bujold
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Altered Carbon</strong>
by
Richard K. Morgan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Neptune's Brood (Freyaverse #2)</strong>
by
Charles Stross
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Man's Search for Meaning</strong>
by
Viktor E. Frankl, Harold S. Kushner, William J. Winslade, Isle Lasch
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Throne of the Crescent Moon</strong>
by
Saladin Ahmed
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>August</th>
</tr>
<tr>
<td>
<strong>The Willpower Instinct: How Self-Control Works, Why It Matters, and What You Can Do to Get More of It</strong>
by
Kelly McGonigal
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Kill City Blues</strong>
by
Richard Kadrey
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>RubyMotion</strong>
by
Clay Allsopp
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Mindfulness in Plain English</strong>
by
Henepola Gunaratana
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Fated</strong>
by
Benedict Jacka
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>The Merchants' War</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Trade of Queens</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Revolution Business</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Legion</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Redshirts</strong>
by
John Scalzi
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Blindsight</strong>
by
Peter Watts
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>October</th>
</tr>
<tr>
<td>
<strong>Hyperion</strong>
by
Dan Simmons
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Power Speed ENDURANCE: A Skill-Based Approach to Endurance Training</strong>
by
Brian Mackenzie, Glen Cordoza
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Equoid (Laundry Files, #2.9)</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Nexus</strong>
by
Ramez Naam
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>November</th>
</tr>
<tr>
<td>
<strong>Fit</strong>
by
Lon Kilgore, Michael Hartman, Justin Lascek
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Lies of Locke Lamora</strong>
by
Scott Lynch
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Broken Angels</strong>
by
Richard K. Morgan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Beyond 5/3/1: Simple Training for Extraordinary Results</strong>
by
Jim Wendler
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>Easy Strength: How to Get a Lot Stronger Than Your Competition-And Dominate in Your Sport</strong>
by
Pavel Tsatsouline, Dan John
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Intervention, Course Corrections for the Athlete and Trainer</strong>
by
Dan John
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Emperor's Soul</strong>
by
Brandon Sanderson
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Starfish</strong>
by
Peter Watts
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Fall of Hyperion</strong>
by
Dan Simmons
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Steel Remains</strong>
by
Richard K. Morgan
</td>
<td>
4 / 5
</td>
</tr>
</tbody>
</table>
<h3>2012</h3>
<p>
52
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>49</td>
</tr>
<tr>
<td>by-women</td>
<td>3</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>sci-fi</td>
<td>11</td>
</tr>
<tr>
<td>fantasy</td>
<td>9</td>
</tr>
<tr>
<td>fitness</td>
<td>1</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>Consider Phlebas</strong>
by
Iain M. Banks
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>Innumeracy: Mathematical Illiteracy and Its Consequences</strong>
by
John Allen Paulos
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>On Bullshit</strong>
by
Harry G. Frankfurt
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>Bad Science: Quacks, Hacks, and Big Pharma Flacks</strong>
by
Ben Goldacre
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Final Empire</strong>
by
Brandon Sanderson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Rule 34</strong>
by
Charles Stross
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>Kill the Dead</strong>
by
Richard Kadrey
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Reamde</strong>
by
Neal Stephenson
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Singularity Sky</strong>
by
Charles Stross
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>The Hunger Games</strong>
by
Suzanne Collins
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Pattern Recognition</strong>
by
William Gibson
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>May</th>
</tr>
<tr>
<td>
<strong>The Information Diet: A Case for Conscious Consumption</strong>
by
Clay A. Johnson
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Leviathan Wakes</strong>
by
James S.A. Corey
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Aloha from Hell</strong>
by
Richard Kadrey
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Saturn's Children (Freyaverse #1)</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Halting State</strong>
by
Charles Stross
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>June</th>
</tr>
<tr>
<td>
<strong>Practices of an Agile Developer: Working in the Real World</strong>
by
Venkat Subramaniam, Andy Hunt
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>High Performance Web Sites</strong>
by
Steve Souders
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Coders at Work: Reflections on the Craft of Programming</strong>
by
Peter Seibel
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Atrocity Archives</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Elements of F*cking Style: A Helpful Parody</strong>
by
Chris     Baker, Jacob Hansen
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Even Faster Web Sites</strong>
by
Steve Souders, Tim O'Reilly, O'Reilly & Associates
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Ready Player One</strong>
by
Ernest Cline
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>July</th>
</tr>
<tr>
<td>
<strong>Embassytown</strong>
by
China Miéville
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Sex at Dawn: The Prehistoric Origins of Modern Sexuality</strong>
by
Christopher  Ryan, Cacilda Jethá
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Seven Languages in Seven Weeks</strong>
by
Bruce A. Tate
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Lean-Agile Software Development: Achieving Enterprise Agility</strong>
by
Alan Shalloway, Guy Beaver, James R. Trott
</td>
<td>
1 / 5
</td>
</tr>
<tr>
<td>
<strong>The Jennifer Morgue</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>August</th>
</tr>
<tr>
<td>
<strong>Backbone.js on Rails</strong>
by
Thoughtbot
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Caliban's War</strong>
by
James S.A. Corey
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Phantoms in the Brain: Probing the Mysteries of the Human Mind</strong>
by
V.S. Ramachandran, Sandra Blakeslee, Oliver Sacks
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Insanely Simple: The Obsession That Drives Apple's Success</strong>
by
Ken Segall
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Quantum Thief</strong>
by
Hannu Rajaniemi
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Family Trade</strong>
by
Charles Stross
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>Surely You're Joking, Mr. Feynman!: Adventures of a Curious Character</strong>
by
Richard P. Feynman
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Greyskull LP</strong>
by
John Sheaffer
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Fuller Memorandum</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Barrayar</strong>
by
Lois McMaster Bujold
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Rapture of the Nerds</strong>
by
Cory Doctorow, Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>October</th>
</tr>
<tr>
<td>
<strong>The Hidden Family</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Heroku Hacker's Guide</strong>
by
Randall Degges
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>The Coldest War</strong>
by
Ian Tregillis
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses</strong>
by
Eric Ries
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>November</th>
</tr>
<tr>
<td>
<strong>A Deepness in the Sky</strong>
by
Vernor Vinge
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Beautiful Evidence</strong>
by
Edward R. Tufte
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Stiff: The Curious Lives of Human Cadavers</strong>
by
Mary Roach
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Apocalypse Codex</strong>
by
Charles Stross
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Moonwalking with Einstein: The Art and Science of Remembering Everything</strong>
by
Joshua Foer
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>The 4-Hour Chef: The Simple Path to Cooking Like a Pro, Learning Anything, and Living the Good Life</strong>
by
Timothy Ferriss
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>The Clan Corporate</strong>
by
Charles Stross
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Devil Said Bang</strong>
by
Richard Kadrey
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Cold Days</strong>
by
Jim Butcher
</td>
<td>
5 / 5
</td>
</tr>
</tbody>
</table>
<h3>2011</h3>
<p>
29
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>26</td>
</tr>
<tr>
<td>by-women</td>
<td>3</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fitness</td>
<td>1</td>
</tr>
<tr>
<td>fantasy</td>
<td>14</td>
</tr>
<tr>
<td>sci-fi</td>
<td>2</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>January</th>
</tr>
<tr>
<td>
<strong>Fool Moon</strong>
by
Jim Butcher
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Grave Peril</strong>
by
Jim Butcher
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Hadoop: The Definitive Guide</strong>
by
Tom  White, Doug Cutting
</td>
<td>
2 / 5
</td>
</tr>
<tr>
<td>
<strong>The Photographer's Eye: Composition and Design for Better Digital Photos</strong>
by
Michael   Freeman
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>Cognitive Surplus: Creativity and Generosity in a Connected Age</strong>
by
Clay Shirky
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Death Masks</strong>
by
Jim Butcher
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Dead Beat</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Summer Knight</strong>
by
Jim Butcher
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>Made by Hand: Searching for Meaning in a Throwaway World</strong>
by
Mark Frauenfelder
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>The Honor of the Queen</strong>
by
David Weber
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Proven Guilty</strong>
by
Jim Butcher
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>White Night</strong>
by
Jim Butcher
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>June</th>
</tr>
<tr>
<td>
<strong>The Information: A History, a Theory, a Flood</strong>
by
James Gleick
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>July</th>
</tr>
<tr>
<td>
<strong>Shards of Honour </strong>
by
Lois McMaster Bujold
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Up Against It</strong>
by
M.J. Locke
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>August</th>
</tr>
<tr>
<td>
<strong>Snake Agent</strong>
by
Liz Williams
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>The Name of the Wind</strong>
by
Patrick Rothfuss
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>October</th>
</tr>
<tr>
<td>
<strong>The Demon-Haunted World: Science as a Candle in the Dark</strong>
by
Carl Sagan, Ann Druyan
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Turn Coat</strong>
by
Jim Butcher
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>Small Favor</strong>
by
Jim Butcher
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>November</th>
</tr>
<tr>
<td>
<strong>I Will Teach You to Be Rich</strong>
by
Ramit Sethi
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Changes</strong>
by
Jim Butcher
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Buzz: The Science and Lore of Alcohol and Caffeine</strong>
by
Stephen Braun
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>Linchpin: Are You Indispensable?</strong>
by
Seth Godin
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Enter the Kettlebell!: Strength Secret of the Soviet Supermen</strong>
by
Pavel Tsatsouline
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>The Children of the Sky </strong>
by
Vernor Vinge
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Sandman Slim</strong>
by
Richard Kadrey
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Side Jobs: Stories from the Dresden Files (The Dresden Files, #12.5)</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<td>
<strong>Ghost Story</strong>
by
Jim Butcher
</td>
<td>
4 / 5
</td>
</tr>
</tbody>
</table>
<h3>2010</h3>
<p>
7
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>7</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>February</th>
</tr>
<tr>
<td>
<strong>Programming Scala</strong>
by
Venkat Subramaniam
</td>
<td>
Not Rated
</td>
</tr>
<tr>
<td>
<strong>A Fire Upon the Deep</strong>
by
Vernor Vinge
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<td>
<strong>Understanding Exposure: How to Shoot Great Photographs with a Film or Digital Camera</strong>
by
Bryan Peterson
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>Freakonomics: A Rogue Economist Explores the Hidden Side of Everything</strong>
by
Steven D. Levitt, Stephen J. Dubner
</td>
<td>
5 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>The Android's Dream (The Android's Dream #1)</strong>
by
John Scalzi
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>December</th>
</tr>
<tr>
<td>
<strong>Predictably Irrational: The Hidden Forces That Shape Our Decisions</strong>
by
Dan Ariely
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<td>
<strong>Bitter Seeds</strong>
by
Ian Tregillis
</td>
<td>
4 / 5
</td>
</tr>
</tbody>
</table>
<h3>2009</h3>
<p>
4
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>4</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>sci-fi</td>
<td>3</td>
</tr>
</tbody>
</table>
<table class='table'>
<thead>
<tr>
<th>Book</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr>
<th colspan='2' scope='colgroup'>March</th>
</tr>
<tr>
<td>
<strong>The Last Colony</strong>
by
John Scalzi
</td>
<td>
3 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>April</th>
</tr>
<tr>
<td>
<strong>The Ghost Brigades</strong>
by
John Scalzi
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>May</th>
</tr>
<tr>
<td>
<strong>Night Train to Rigel</strong>
by
Timothy Zahn
</td>
<td>
4 / 5
</td>
</tr>
<tr>
<th colspan='2' scope='colgroup'>September</th>
</tr>
<tr>
<td>
<strong>The Moon is a Harsh Mistress</strong>
by
Robert A. Heinlein
</td>
<td>
5 / 5
</td>
</tr>
</tbody>
</table>
