<h3>2020</h3>
<p>
1
book
 so far!
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>1</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>1</td>
</tr>
</tbody>
</table>
<h3>2019</h3>
<p>
40
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-women</td>
<td>16</td>
</tr>
<tr>
<td>by-lgbtq-author</td>
<td>8</td>
</tr>
<tr>
<td>by-men</td>
<td>25</td>
</tr>
<tr>
<td>by-non-binary-authors</td>
<td>1</td>
</tr>
<tr>
<td>by-people-of-color</td>
<td>5</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>sci-fi</td>
<td>18</td>
</tr>
<tr>
<td>fantasy</td>
<td>11</td>
</tr>
<tr>
<td>tech</td>
<td>2</td>
</tr>
<tr>
<td>fitness</td>
<td>2</td>
</tr>
<tr>
<td>nonfiction</td>
<td>7</td>
</tr>
</tbody>
</table>
<h3>2018</h3>
<p>
31
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>19</td>
</tr>
<tr>
<td>by-women</td>
<td>14</td>
</tr>
<tr>
<td>by-people-of-color</td>
<td>3</td>
</tr>
<tr>
<td>by-lgbtq-author</td>
<td>4</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fitness</td>
<td>4</td>
</tr>
<tr>
<td>fantasy</td>
<td>16</td>
</tr>
<tr>
<td>nonfiction</td>
<td>6</td>
</tr>
<tr>
<td>sci-fi</td>
<td>5</td>
</tr>
</tbody>
</table>
<h3>2017</h3>
<p>
50
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>26</td>
</tr>
<tr>
<td>by-women</td>
<td>25</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>22</td>
</tr>
<tr>
<td>fitness</td>
<td>4</td>
</tr>
<tr>
<td>tech</td>
<td>3</td>
</tr>
<tr>
<td>nonfiction</td>
<td>13</td>
</tr>
<tr>
<td>sci-fi</td>
<td>7</td>
</tr>
</tbody>
</table>
<h3>2016</h3>
<p>
52
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>40</td>
</tr>
<tr>
<td>by-women</td>
<td>12</td>
</tr>
<tr>
<td>by-lgbtq-author</td>
<td>2</td>
</tr>
<tr>
<td>by-people-of-color</td>
<td>2</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>28</td>
</tr>
<tr>
<td>nonfiction</td>
<td>5</td>
</tr>
<tr>
<td>sci-fi</td>
<td>10</td>
</tr>
<tr>
<td>fitness</td>
<td>4</td>
</tr>
<tr>
<td>tech</td>
<td>5</td>
</tr>
</tbody>
</table>
<h3>2015</h3>
<p>
44
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-women</td>
<td>14</td>
</tr>
<tr>
<td>by-men</td>
<td>30</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>17</td>
</tr>
<tr>
<td>sci-fi</td>
<td>10</td>
</tr>
<tr>
<td>fitness</td>
<td>2</td>
</tr>
</tbody>
</table>
<h3>2014</h3>
<p>
53
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>48</td>
</tr>
<tr>
<td>by-women</td>
<td>5</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fantasy</td>
<td>11</td>
</tr>
<tr>
<td>sci-fi</td>
<td>19</td>
</tr>
<tr>
<td>fitness</td>
<td>3</td>
</tr>
</tbody>
</table>
<h3>2013</h3>
<p>
57
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>53</td>
</tr>
<tr>
<td>by-women</td>
<td>4</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>sci-fi</td>
<td>16</td>
</tr>
<tr>
<td>fantasy</td>
<td>17</td>
</tr>
<tr>
<td>fitness</td>
<td>6</td>
</tr>
<tr>
<td>nonfiction</td>
<td>1</td>
</tr>
</tbody>
</table>
<h3>2012</h3>
<p>
52
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>49</td>
</tr>
<tr>
<td>by-women</td>
<td>3</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>sci-fi</td>
<td>11</td>
</tr>
<tr>
<td>fantasy</td>
<td>9</td>
</tr>
<tr>
<td>fitness</td>
<td>1</td>
</tr>
</tbody>
</table>
<h3>2011</h3>
<p>
29
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>26</td>
</tr>
<tr>
<td>by-women</td>
<td>3</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>fitness</td>
<td>1</td>
</tr>
<tr>
<td>fantasy</td>
<td>14</td>
</tr>
<tr>
<td>sci-fi</td>
<td>2</td>
</tr>
</tbody>
</table>
<h3>2010</h3>
<p>
7
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>7</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
</tbody>
</table>
<h3>2009</h3>
<p>
4
books
 total.
</p>
<h4>Author Background</h4>
<table>
<tbody>
<tr>
<td>by-men</td>
<td>4</td>
</tr>
</tbody>
</table>
<h4>Genres</h4>
<table>
<tbody>
<tr>
<td>sci-fi</td>
<td>3</td>
</tr>
</tbody>
</table>
