!!!
%html
  {% haml header.haml %}
  %body.post.bio
    {% haml nav.haml %}
    %section.section
      .container
        %h2.title.is-2 About Me

        %img.bio-image{src: "/images/bio-photo.png", alt: "It's me!"}

        .content
          :markdown
            Programmer who loves the weird beautiful chaos of humans building software together. Fitness nerd. Southern-raised, living in Massachusetts. Professionally shaving yaks and helping people find books to read at [BookBub](https://www.bookbub.com).

          %p Around the web:

          %ul.social-accounts
            %li
              %a{rel: "me", src: "https://github.com/thegreatape"}
                %i.fab.fa-github
                Github
            %li
              %a{rel: "me", src: "https://mastodon.social/@thegreatape"}
                %i.fab.fa-mastodon
                Mastdon
            %li
              %a{rel: "me", src: "https://twitter.com/thegreatape"}
                %i.fab.fa-twitter
                Twitter
              (inactive)

  {% include goatcounter.html %}

