<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body class="article" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}


{% if page.image.feature %}<div class="image-wrap">
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">
  {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{% endif %}
</div><!-- /.image-wrap -->{% endif %}

<div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
{% include navigation.html %}
  <div class="article-author-top">
    {% include author-bio.html %}
  </div>
  <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <div class="headline-wrap">
      <h1 itemprop="name">{{ page.title }}</h1>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time>    
    </div><!--/ .headline-wrap -->
    <div class="article-wrap" itemprop="text">
      {{ content }}
      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include author-bio.html %}
        </div>
      </footer>
    </div><!-- /.article-wrap -->
  </article>
  <div class="push"></div>
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}	        

</body>
</html>
