!!!
%html
  {% haml header.haml %}
  %body
    {% haml nav.haml %}
    %section.section
      .container
        %h2.title.is-2 {{ page.title }}
        .date {{ page.date | date: "%B %d, %Y" }}
        .content= "{{ content }}"
