!!!
%html
  {% haml header.haml %}
  %body.post{class: "{{page.body-class}}"}
    {% haml nav.haml %}
    %section.section
      .container
        %h2.title.is-2 {{ page.title }}
        {% if page.date %}
        .date.subtitle.is-5 {{ page.date | date: "%B %d, %Y" }}
        {% endif %}
        .content= "{{ content }}"
  {% include ga.html %}
