.home {
  .year {
    margin-top: 20px;
    &:first-child {
      margin-top: 0px;
    }
  }
  .article {
    margin-left: 70px;
    margin-bottom: 1px;
    .post-date {
      float: left;
      margin-left: -70px;
      text-transform: uppercase;
      color: $grey;
    }
  }
}
